.Modal {
  width: 70%;
  position: fixed;
  background-color: white;
  border: 1px solid wheat;
  border-radius: 10px;
  top: 30%;
  left: 15%;
  padding: 15px;
  z-index: 500;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  transition: all 0.5s ease-out;
}
@media (min-width: 600px) {
  .Modal {
    width: 400px;
    left: calc(50% - 200px);
    background-color: white;
  }
}
